.wFull {
    width: 100%; /* w-full */
}

.h3_1 {
    font-size: 1.25rem; /* text-xl */
    font-weight: 600; /* font-semibold */
    margin: 0.5rem; /* m-2 */
    text-transform: uppercase; /* uppercase */
    text-decoration: underline; /* underline */
    text-underline-offset: 8px; /* underline-offset-8 */
    text-decoration-color: #dc2626; /* decoration-red-600 */
}

.row_1 {
    display: flex; /* flex */
    align-items: stretch; /* items-stretch */
    width: 100%; /* w-full */
    border-left: 1px solid #d1d5db; /* divide-x divide-gray-300 */
}

.row_1 > *:not(:last-child) {
    border-right: 1px solid #d1d5db; /* divide-x divide-gray-300 */
}

.col_1 {
    display: flex; /* flex */
    flex-direction: column; /* flex-col */
    border-top: 1px solid #d1d5db; /* divide-y divide-gray-300 */
}

.col_1 > *:not(:last-child) {
    border-bottom: 1px solid #d1d5db; /* divide-y divide-gray-300 */
}
