.pt_20 {
    padding-top: 20px;
}

/* CategoryPage.module.css */

.container {
    padding: 0px 0px 24px;
    overflow: hidden;
}

.breadcrumb {
    font-size: 16px;
    border-bottom: 2px solid #e5e7eb; /* border-gray-200 */
    margin-bottom: 16px;
}

.mainContent {
    width: 100%;
    margin-top: 16px;
}

.leftContent {
    width: 100%;
    border-right: 2px solid #e5e7eb;
}

.postGrid {
    border-bottom: 2px solid #e5e7eb;
    margin-bottom: 16px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.rightSidebar {
    width: 100%;
    margin-top: 16px;
}

@media (min-width: 1024px) {
    .rightSidebar {
        margin-top: 0;
    }
}

.sidebarBox {
    width: 100%;
    background-color: #e5e7eb; /* bg-neutral-200 */
    padding: 16px;
    border-radius: 8px;
}

.sidebarTitle {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #dc2626; /* decoration-red-600 */
    margin-bottom: 8px;
}

.flexContainer {
    display: flex;         /* Chế độ Flexbox */
    align-items: stretch;  /* Căn chỉnh các phần tử con kéo dài */
}
