.link_1 {
    cursor: pointer;
    color: black;
}

.link_1:hover {
    color: black;
}

.col_1 {
    display: flex;
    justify-content: center;
}

.wFull {
    width: 100%;
}

.image_1 {
    object-fit: fill;
    width: 100%;
    border-radius: 0.5rem; /* 8px */
}

.h2_1 {
    font-weight: 600; /* font-semibold */
    font-size: 1.125rem; /* text-lg */
    text-align: justify; /* text-justify */
    overflow: hidden;
}

.h2_1:hover {
    color: #dc2626; /* hover:text-red-500 */
}

.description_1 {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.time_1 {
    padding-top: 0.5rem; /* pt-2 */
}
