.link_1 {
    cursor: pointer;
    color: black;
    padding: 0.5rem; /* p-2 */
    display: flex;
    align-items: center;
}

.link_1:hover {
    color: black;
}

.h2_1 {
    font-weight: 600; /* font-semibold */
    font-size: 1rem; /* text-base */
    overflow: hidden;
    padding-left: 1rem; /* pl-4 */
}

.h2_1:hover {
    color: #dc2626; /* hover:text-red-500 */
}
