.mx_auto {
    margin-left: auto;
    margin-right: auto;
}

/* HomePage.module.css */

.container {
    padding: 8px 0px 24px;
    overflow: hidden;
}

.desktopOnly {
    display: none;
    border-bottom: 2px solid #d1d5db; /* border-gray-300 */
    padding-bottom: 16px;
}

@media (min-width: 1280px) {
    .desktopOnly {
        display: block;
    }
}

.mobileOnly {
    display: block;
    border-bottom: 2px solid #d1d5db; /* border-gray-300 */
    padding-bottom: 16px;
}

@media (min-width: 1280px) {
    .mobileOnly {
        display: none;
    }
}

.fullWidth {
    width: 100%;
    height: auto;
    overflow: auto;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexStretch {
    display: flex;
    align-items: stretch;
    width: 100%;
    border-top: 1px solid #d1d5db;
}
