.mx_auto {
    margin-left: auto;
    margin-right: auto;
}

/* HomePage.module.css */

.container {
    padding: 8px 0px 24px;
    overflow: hidden;
}

.desktopOnly {
    display: none;
    border-bottom: 2px solid #d1d5db; /* border-gray-300 */
    padding-bottom: 16px;
}

@media (min-width: 1280px) {
    .desktopOnly {
        display: block;
    }
}

.mobileOnly {
    display: block;
    border-bottom: 2px solid #d1d5db; /* border-gray-300 */
    padding-bottom: 16px;
}

@media (min-width: 1280px) {
    .mobileOnly {
        display: none;
    }
}

.fullWidth {
    width: 100%;
    height: auto;
    overflow: auto;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexStretch {
    display: flex;
    align-items: stretch;
    width: 100%;
    border-top: 1px solid #d1d5db;
}

.leftContent {
    width: 100%;
    /* border-right: 2px solid #e5e7eb; */
}

.rightSidebar {
    width: 100%;
    margin-top: 16px;
}

.sidebarBox {
    width: 100%;
    background-color: #e5e7eb; /* bg-neutral-200 */
    padding: 16px;
    border-radius: 8px;
}

.sidebarTitle {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #dc2626; /* decoration-red-600 */
    margin-bottom: 8px;
}